body {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
body #noti-div {
  font-family: Arial, Helvetica, sans-serif;
  width: 360px;
  height: 90px;
}
body #noti-div #icon-div {
  height: 90px;
  width: 90px;
}
body #noti-div #icon-div img#icon-img {
  top: 0;
  padding: 15px;
  width: 60px;
  height: 60px;
}
body #noti-div #content-div {
  height: 90px;
  width: 270px;
  left: 90px;
}
body #noti-div #content-div #title-div {
  top: 0;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  height: 35px;
  width: 240px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body #noti-div #content-div #body-div {
  top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  width: 240px;
  font-size: 13px;
  text-overflow: ellipsis;
}
.common-block,
body #noti-div,
body #noti-div #icon-div,
body #noti-div #content-div,
body #noti-div #content-div #title-div,
body #noti-div #content-div #body-div {
  position: absolute;
}
